html,
body,
.login_register_warp {
  height: 100%;
}
.login_register_warp {
  display: flex;
}
.login_register_warp .login-swiper {
  width: 500px;
  flex-shrink: 0;
  height: 100%;
}
.login_register_warp .login-right {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 48px;
}

.type-1 {
  display: none;
}

.login_register_warp .login-form-wrap {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login_register_warp .login-title-img {
  height: 40px;
  object-fit: contain;
}
.login_register_warp .login-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_register_warp .login-title-text {
  color: #999;
  position: relative;
  margin-left: 32px;
}
.login_register_warp .login-title-text::after {
  content: "";
  width: 24px;
  height: 1px;
  background-color: #999;
  transform: rotate(-80deg) translateY(-50%);
  position: absolute;
  left: -24px;
  top: 50%;
}
.login_register_warp .form-card-wrap {
  width: 440px;
  min-height: 500px;
}
.login_register_warp .form-card {
  width: 100%;
  margin-top: 32px;
  box-sizing: border-box;
  display: flex;
  padding: 32px 40px 40px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  border-radius: 12px 0px 12px 12px;
  background: linear-gradient(to bottom, #f5f7fb, #fff);
  border: 2px solid #fff;
  box-shadow: 0px -2px 2px -2px rgba(102, 102, 102, 0.09),
    0px 3px 6px 0px rgba(102, 102, 102, 0.09),
    0px 5px 12px 4px rgba(102, 102, 102, 0.09);
}
.mdi-form.login-form-element .form-control {
  background-color: transparent !important;
}
@media (max-width: 768px) {
  .login_register_warp .form-card {
    background: none;
    border: 0;
  }
}

.login_register_warp .form-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login_register_warp .form-header h3 {
  position: relative;
}
.login_register_warp .form-header h3::after {
  position: absolute;
  bottom: -12px;
  left: 0;
  content: "";
  width: 1.2em;
  height: 4px;
  background-color: #006bfc;
  border-radius: 2px;
}
.login_register_warp .header-right {
  display: flex;
  align-items: center;
}
.login_register_warp .to-register {
  color: #999;
}
.mobile-text {
  color: #41464f;
}
.mobile-text b {
  color: #282b31;
}
.login_register_warp .login-tabs {
  width: 100%;
  border-radius: 1.3125rem;
  height: 2.625rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 2px;
  position: relative;
  background: #f3f5f9;
  /* 内阴影 */
  box-shadow: 0px 4px 4px 0px rgba(153, 153, 153, 0.1) inset,
    4px 0px 4px 0px rgba(153, 153, 153, 0.1) inset;
}
.login_register_warp .login-tabs .bg {
  position: absolute;
  top: 2px;
  left: 0;
  /* left: calc(50% - 4px); */
  width: 50%;
  height: 2.375rem;
  transform: translateX(2px);
  background-color: #fff;
  border-radius: 1.1875rem;
  overflow: hidden;
  transition: left 0.3s;
}
.login_register_warp .btn.btn-primary {
  width: 100%;
  border: none;
  height: 42px;
  line-height: 30px;
  background: #1764ff;
}

.login_register_warp .btn.btn-primary:hover {
  background: #2989ff;
  box-shadow: 0px 5px 20px 0px rgba(0, 17, 86, 0.1);
}

.login_register_warp .login-tabs .tab-item {
  z-index: 2;
  flex: 1;
  height: 100%;
  text-align: center;
  background-color: transparent;
  border-radius: 1.1875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.3s;
}
.login_register_warp .login-tabs .tab-item.active {
  color: #006bfc;
}

.login_register_warp .login-type-passworad,
.login_register_warp .login-type-code {
  width: 100%;
}

input {
  font-size: 16px !important;
  padding: 10px !important;
  height: 42px !important;
  box-sizing: border-box;
  margin-bottom: 24px !important;
}
input::-webkit-input-placeholder {
  color: #999 !important;
  /* font-weight: 300; */
}
input::moz-placeholder {
  color: #999 !important;
  /* font-weight: 300; */
}
input:moz-placeholder {
  color: #999 !important;
  /* font-weight: 300; */
}
input:-ms-input-placeholder {
  color: #999 !important;
  /* font-weight: 300; */
}
.mdi-effect label.form-error {
  top: -22px;
}

.login_register_warp .mdi-form.mdi-effect {
  padding-top: 8px !important;
}

.login_register_warp .code-wrap {
  padding-top: 8px !important;
}

.login_register_warp .safe-form-content {
  display: none;
}

.login_register_warp #verify-safe-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login_register_warp .gap-line {
  width: 16px;
  height: 1px;
  background-color: #282b31;
}

.login_register_warp #verify-safe-form input {
  width: 46px !important;
  height: 54px !important;
  border-radius: 4px !important;
  border: 1px solid #bfbfbf !important;
  padding: 0 !important;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0 !important;
  transition: all 0.3s;
  background: transparent;
}
.login_register_warp #verify-safe-form input:focus {
  outline: none;
  border-color: #0074d7 !important;
}

.login_register_warp #verify-safe-form input.form-error {
  border-color: #ff4d4f !important;
}

.login_register_warp .safe-btn {
  width: 100% !important;
  background: #bcbfc3 !important;
  margin-top: 56px !important;
  height: 42px !important;
  border: 1px solid rgba(40, 43, 49, 0.1) !important;
  pointer-events: none !important;
}
.login_register_warp .safe-btn:hover {
  background: #bcbfc3 !important;
  border: 1px solid rgba(40, 43, 49, 0.1) !important;
}
.login_register_warp .safe-btn.active {
  background: #006bfc linear-gradient(180deg, #2681fc, #006bfc) repeat-x !important;
  border-color: #006bfc !important;
  pointer-events: all !important;
  cursor: pointer !important;
  box-shadow: none !important;
}
.login_register_warp .safe-btn.active:hover {
  background: #005bd6 !important;
}

.login_register_warp .nomsg-tips {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.login_register_warp .nomsg-tips:hover a {
  color: #1764ff !important;
}

.login_register_warp .re-send {
  color: #41464f;
  pointer-events: none;
  height: 24px;
  text-align: left;
}
.login_register_warp .re-send.active {
  color: #006bfc;
  cursor: pointer;
  pointer-events: all;
}
.login_register_warp .safe-form-content .error-message,
.login_register_warp #verify .error-message {
  color: #ff4d4f;
  text-align: right;
}

.login_register_warp .login-swiper .swiper-container {
  width: 100%;
  height: 100%;
  margin: 0;
}
.login_register_warp .login-swiper .swiper-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 轮播分页器 */
.login_register_warp .swiper-pagination {
  bottom: 62px !important;
}
.login_register_warp .swiper-pagination-bullet {
  width: 48px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  margin: 0 8px;
}
.login_register_warp .swiper-pagination-bullet-active {
  background-color: #006bfc;
}
@media screen and (max-width: 1200px) {
  .login_register_warp .login-swiper {
    display: none;
  }
}
@media screen and (max-width: 575px) {
  .login_register_warp {
    height: calc(100% - 50px);
  }
  .login_register_warp .login-title {
    display: none;
  }
  .login_register_warp .form-card-wrap {
    width: 100%;
  }
  .login_register_warp .form-card {
    box-shadow: none;
  }
  .login_register_warp .form-card-wrap {
    min-height: fit-content;
  }
  .login_register_warp .form-card {
    margin-top: 0;
    padding-top: 24px;
  }
  .login_register_warp .login-right {
    padding-bottom: 0;
  }
  .login_register_warp .login-form-wrap {
    justify-content: flex-start;
    padding-top: 50px;
  }
}
@media screen and (max-width: 390px) {
  .login_register_warp .form-card {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-height: 760px) {
  .login_register_warp .form-card {
    padding-top: 32px;
  }
  .login_register_warp .login-form-wrap {
    padding-top: 0;
  }
}

/* 注册 */
.login_register_warp .login-content {
  position: relative !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: block;
}
.reg-form {
  width: 100%;
}
.return-form {
  color: #999;
  cursor: pointer;
}
.eye-wrap {
  position: relative;
}
.eye-wrap .eye {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 44px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}
.password-input {
  padding-right: 44px !important;
}
.mdi-form-text-helper {
  color: #999;
}
.login-form,
.reset-form {
  width: 100%;
}

/* 密码重置 */
#reset .type-btn {
  color: #999;
  transition: all 0.3s;
  border-color: rgba(40, 43, 49, 0.1);
}
#reset .type-btn:hover {
  text-decoration: none !important;
  box-shadow: 0 0 10px 5px rgb(204, 204, 204, 0.15);
}
.radio-item {
  width: 16px;
  height: 16px;
  border: 3px solid rgba(40, 43, 49, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  transition: all 0.3s;
}
#reset .type-btn.active {
  color: #006bfc;
  background-color: rgba(0, 107, 252, 0.1);
}
#reset .type-btn.active .radio-item {
  border-color: #006bfc;
}

input.new_password {
  text-security: disc;
  -webkit-text-security: disc;
  -mox-text-security: disc;
}

.con-rule {
  background: white;
  border: 1px solid #d9e0e6;
  padding: 14px;
  position: relative;
  border-radius: 3px;
}

.con-rule::after {
  display: block;
  content: "◆";
  position: absolute;
  font-size: 26px;
  left: 105px;
  bottom: 52px;
  color: white;
}
/*注意：此处::before的content要比::after的bottom高1px，就形成了箭头视觉效果了*/
.con-rule::before {
  display: block;
  content: "◆";
  position: absolute;
  font-size: 26px;
  left: 105px;
  bottom: 53px;
  color: #d9e0e6;
}

#password_input {
  position: relative;
}
.rule-pas {
  position: absolute;
  z-index: 1;
  width: 98%;
  transform: scale(0);
  transition: all 0.3s;
}
.rule-pas.active {
  transform: scale(1);
}

.reset-eyes {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #999;
  cursor: pointer;
}
