@charset "utf-8";
/* CSS Document */
/* 头部 */
.layui-layout-admin .header {
    height: 55px;
    border-bottom: 2px solid #485056;
    background-color: #2e3b50;
    color: #fff;
}

.layui-layout-admin .layui-side {
    top: 0px;
}

.site-demo-title {
    position: fixed;
    left: 175px;
    right: 0;
    top: 40px;
    height: 100%;
    border-left: 0px;
}

.new_index {
    width: 175px;
    height: 100%;
    background: #393D49;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

    .new_index::-webkit-scrollbar {
        width: 2px; /*滚动条宽*/
        height: 9px; /*滚动条高*/
    }

    .new_index::-webkit-scrollbar-thumb {
        background-color: #393D49; /*滚动块颜色*/
        background-clip: padding-box;
        min-height: 28px;
        border-radius: 6px; /*滚动块圆角*/
        /*background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));*/ /*滚动块颜色填充*/
    }

        .new_index ::-webkit-scrollbar-thumb:hover {
            background-color: #bbb;
        }

    .new_index .index_logo {
        padding: 32px 0;
        width: 180px;
    }

        .new_index .index_logo a {
            display: block;
            width: 162px;
            height: 38px;
            text-align: center;
        }

.index_logo a {
    font-size: 25px;
}

.new_index .index_logo a img {
    width: 162px;
    height: 38px;
}

/*.new_index .menu_box {
    border-top: solid 1px #393D49;
}*/

.new_index .menu_box .bigtile {
    width: 100%;
    height: auto;
}

    .new_index .menu_box .bigtile li {
        width: 180px;
        height: 30px;
        margin: 10px 0;
    }

        .new_index .menu_box .bigtile li a {
            display: block;
            width: 120px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            color: #868686;
            padding-left: 60px;
        }

            .new_index .menu_box .bigtile li a i {
                font-size: 22px;
                position: initial;
                left: 30px;
            }

    .new_index .menu_box .bigtile .moren_box {
        color: #ffffff;
        background: #1296DB;
        /*font-weight: bold;*/
    }

    .new_index .menu_box .bigtile .newlefy {
        width: 100%;
        height: 40px;
        font-size: 14px;
        color: #868686;
    }

.leftcontent {
    width: 100%;
    height: 100%;
}

    .leftcontent .right_baohan {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

        .leftcontent .right_baohan .topcontent {
            width: 100%;
            height: 59px;
            background: #ffffff;
            border-bottom: solid 1px #e7e7eb;
            position: absolute;
            top: 0;
            left: 0;
        }

            .leftcontent .right_baohan .topcontent .left_zh {
                height: 59px;
                line-height: 59px;
                font-size: 22px;
                color: #666666;
                padding: 0 26px 0 200px;
                float: left;
            }

            .leftcontent .right_baohan .topcontent .zhycbox {
                float: right;
            }

                .leftcontent .right_baohan .topcontent .zhycbox .youce_lb {
                    height: 59px;
                    float: left;
                    padding-right: 20px;
                }

                    .leftcontent .right_baohan .topcontent .zhycbox .youce_lb li {
                        width: 90px;
                        height: 20px;
                        line-height: 20px;
                        margin-top: 19.5px;
                        float: left;
                    }

                        .leftcontent .right_baohan .topcontent .zhycbox .youce_lb li a {
                            display: block;
                            width: 90px;
                            height: 20px;
                            font-size: 14px;
                            color: #666666;
                            text-align: center;
                        }

                .leftcontent .right_baohan .topcontent .zhycbox .grename {
                    height: 59px;
                    padding: 0 20px;
                    float: left;
                }

                    .leftcontent .right_baohan .topcontent .zhycbox .grename a {
                        display: block;
                        width: 34px;
                        height: 34px;
                        border-radius: 100%;
                        margin-top: 12.5px;
                        float: left;
                    }

                        .leftcontent .right_baohan .topcontent .zhycbox .grename a img {
                            width: 34px;
                            height: 34px;
                            border-radius: 100%;
                        }

                    .leftcontent .right_baohan .topcontent .zhycbox .grename p {
                        height: 59px;
                        line-height: 59px;
                        padding-left: 10px;
                        font-size: 15px;
                        color: #333333;
                        float: left;
                    }

                .leftcontent .right_baohan .topcontent .zhycbox .sessage {
                    width: 30px;
                    height: 59px;
                    float: left;
                    position: relative;
                }

                    .leftcontent .right_baohan .topcontent .zhycbox .sessage a {
                        display: block;
                        width: 30px;
                        height: 59px;
                        line-height: 59px;
                        font-size: 23px;
                        color: #333333;
                        text-align: center;
                    }

                    .leftcontent .right_baohan .topcontent .zhycbox .sessage span {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        background: #e22d3e;
                        border-radius: 100%;
                        line-height: 16px;
                        text-align: center;
                        font-size: 12px;
                        color: #ffffff;
                        position: absolute;
                        right: 0px;
                        top: 10px;
                    }

                .leftcontent .right_baohan .topcontent .zhycbox .cancellation {
                    width: 40px;
                    height: 59px;
                    float: right;
                }

                    .leftcontent .right_baohan .topcontent .zhycbox .cancellation a {
                        display: block;
                        width: 30px;
                        height: 59px;
                        line-height: 59px;
                        font-size: 23px;
                        color: #333333;
                        text-align: center;
                    }



.layui-side .newleft .right_small {
    width: 100%;
    height: 100%;
    overflow: auto;
}

    .layui-side .newleft .right_small::-webkit-scrollbar {
        width: 2px; /*滚动条宽*/
        height: 9px; /*滚动条高*/
    }

    .layui-side .newleft .right_small::-webkit-scrollbar-thumb {
        background-color: #FFFFFF; /*滚动块颜色*/
        background-clip: padding-box;
        min-height: 28px;
        border-radius: 6px; /*滚动块圆角*/
        /*background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));*/ /*滚动块颜色填充*/
    }

        .layui-side .newleft .right_small ::-webkit-scrollbar-thumb:hover {
            background-color: #bbb;
        }


    .layui-side .newleft .right_small .amxl_content {
        width: 100%;
        height: auto;
    }

    .layui-side .newleft .right_small .ltitle {
        border-bottom: 1px solid #F2F2F2;
    }

    .layui-side .newleft .right_small .amxl_content .birand {
        display: block;
        width: 120px;
        padding-left: 10px;
        line-height: 30px;
        height: 30px;
        font-size: 14px;
        color: #868c93;
    }

        .layui-side .newleft .right_small .amxl_content .birand i {
            font-size: 20px;
            color: #868c93;
            position: absolute;
            left: 10px;
        }

    .layui-side .newleft .right_small .amxl_content .current {
        background: #e7fef2;
        color: #2fb26a;
    }

    .layui-side .newleft .right_small .amxl_content .send_xaim {
        width: 100%;
        height: auto;
    }

        .layui-side .newleft .right_small .amxl_content .send_xaim li {
            width: 100%;
            height: 30px;
        }



        .layui-side .newleft .right_small .amxl_content .send_xaim .mfaxj_box {
            color: #fff;
            background: #1296DB;
        }

        .layui-side .newleft .right_small .amxl_content .send_xaim .mfaxj_boxa {
            color: #fff;
        }

.leftcontent .right_baohan .newyou {
    width: 100%;
    height: auto;
    margin: 60px 0 0 360px;
}

    .leftcontent .right_baohan .newyou .right_one {
        width: 100%;
        height: auto;
    }

        .leftcontent .right_baohan .newyou .right_one .one_lidt {
            width: 100%;
            min-height: 500px;
            background: #ffffff;
        }

        .leftcontent .right_baohan .newyou .right_one .lidt_tie {
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-size: 18px;
            color: #666666;
        }

.leftcontent .right_baohan .newplus {
    margin: 60px 0 0 200px;
}

.layui-side .new_index .menu_box .bigtile li a {
    display: block;
    width: 135px;
    text-align: left;
    height: 35px;
    line-height: 44px;
    font-size: 14px;
    color: #8c99ad;
    padding-left: 25px;
    font-family: "微软雅黑",Helvetica, HiraginoSansGB-W3 !important;
}



.layui-side .new_index .menu_box .bigtile li {
    text-align: -webkit-match-parent;
}

.layui-side .newleft {
    top: 0px;
    width: 160px;
    height: 100%;
    background: #fff;
    position: fixed;
    left: 175px;
    box-shadow: 2px 2px 2px #888888;
    z-index: 99;
    padding-top: 20px;
}

    .layui-side .newleft .right_small .amxl_content .send_xaim li a {
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        /*color: #868c93;*/
        padding-left: 10px;
        margin: 10px 0px 0px 10px;
    }

.new_index .menu_box .bigtile li a i {
    font-size: 22px;
    position: initial;
    left: 30px;
}

.layui-nav .layui-nav-more {
    position: absolute;
    top: 28px;
    right: 3px;
    border-width: 6px;
    border-top-style: solid;
    border-top-color: #333;
    border-top-color: #ffffff;
}

.logo {
    width: auto;
    margin-left: 9px;
    text-align: left;
}

.content-header {
    height: 50px;
    position: relative;
    /*background-color: #009688;
    color: #fff;*/
    border-bottom: 1px solid #c9c9c9;
    padding-right: 10px;
}



.ltitle a {
    font-weight: bold;
}

.u-contactqq {
    height: 50px;
    line-height: 50px;
    position: relative;
    cursor: pointer;
    padding: 0px 10px;
}

.fr {
    float: right;
}

.layui-tab-card {
    border-left: 1px solid #CBCFD4;
    border-top: 1px solid #CBCFD4;
}

.layui-side .newleft .right_small .second {
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.layui-side .newleft .right_small .second a{
    color: #000;
}

.sec {
    padding-left: 20px;
}

.newlefy a i {
    top: 3px;
}

.amxl_content cite {
    margin-left: 11px;
}

.newleft .right_small .birand_cur {
    background-color: #1296DB;
}
