.lxt-info {
    display: none;
    width: 200px;
    position: absolute;
    right: 40px;
    top: 42px;
    z-index: 1000;
    color: #333333;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

    .lxt-info .lxt-header {
        padding: 12px;
        /*border-bottom: 1px solid #efefef;*/
    }

        .lxt-info .lxt-header .lxt-header-up {
            display: flex;
        }

            .lxt-info .lxt-header .lxt-header-up img {
                width: 40px;
                height: 40px;
                display: inline-block;
                border-radius: 50%;
            }

            .lxt-info .lxt-header .lxt-header-up .lxt-header-up-title label {
                display: block;
                margin-left: 10px;
                padding-top: 7px;
            }

                .lxt-info .lxt-header .lxt-header-up .lxt-header-up-title label:first-child {
                    padding-top: 0px;
                }

        .lxt-info .lxt-header .lxt-header-down {
            display: flex;
            margin-top: 15px;
        }

            .lxt-info .lxt-header .lxt-header-down a {
                border-left: 1px solid #dedede;
                box-sizing: border-box;
                outline: currentcolor none medium;
                background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
                line-height: 20px;
                cursor: pointer;
                padding: 0px;
                text-decoration: none;
                transition: all 0.3s ease-out 0s;
                vertical-align: middle;
                text-align: center;
                display: block;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: #333333;
                height: 20px;
            }

                .lxt-info .lxt-header .lxt-header-down a:first-child {
                    border-left: medium none;
                }

                .lxt-info .lxt-header .lxt-header-down a:hover {
                    color: #777777;
                }

    .lxt-info .lxt-body {
        padding-bottom: 8px;
    }

        .lxt-info .lxt-body a {
            display: block;
            box-sizing: border-box;
            outline: currentcolor none medium;
            background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
            font-family: inherit;
            font-size: inherit;
            text-decoration: none;
            transition: all 0.3s ease-out 0s;
            border: 1px solid transparent;
            vertical-align: middle;
            text-align: left;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0px 12px;
            height: 30px;
            line-height: 30px;
            color: #333333;
            cursor: default;
        }

            .lxt-info .lxt-body a:hover {
                /*background-color: #f5f5f5;
                color: #333333;*/
            }

            .lxt-info .lxt-body a:first-child {
                border-bottom: 1px solid #efefef;
                height: 30px;
                line-height: 25px;
                text-align: center;
                color: #FF5722;
            }


        .lxt-info .lxt-body .lxt-body-kf cite, .lxt-info .lxt-body .lxt-body-phone cite {
            padding-left: 4px;
        }

        .lxt-info .lxt-body .lxt-body-qq cite {
            padding-left: 9px;
        }

        .lxt-info .lxt-body .lxt-body-wx {
            height: 128px;
            /*line-height: 64px;*/
        }

            .lxt-info .lxt-body .lxt-body-wx img {
                height: 128px;
                width: 128px;
            }

    .lxt-info .lxt-fotter {
        border-top: 1px solid #efefef;
    }

        .lxt-info .lxt-fotter .sc {
            display: flex;
        }

            .lxt-info .lxt-fotter .sc .out {
                box-sizing: border-box;
                outline: currentcolor none medium;
                background: #ebebeb none repeat scroll 0% 0%;
                cursor: pointer;
                text-decoration: none;
                transition: all 0.3s ease-out 0s;
                border: 1px solid transparent;
                border-left-color: transparent;
                border-left-style: solid;
                border-left-width: 1px;
                vertical-align: middle;
                text-align: center;
                color: #333333;
                display: block;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 0px 12px;
                height: 36px;
                line-height: 34px;
            }

                .lxt-info .lxt-fotter .sc .out:hover {
                    color: #FF5722;
                    background-color: #f7f7f7;
                }

#login_out {
    border-left: 0px none;
}

.lxt-message {
    display: none;
    width: 300px;
    position: absolute;
    right: 170px;
    top: 38px;
    z-index: 1000;
    color: #333333;
    border: 1px solid #e2e2e2;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

    .lxt-message .lxt-message-header {
        display: flex;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: justify;
        justify-content: space-between;
        padding: 0px 12px;
        background-color: #f5f5f5;
        line-height: 35px;
        color: #333333;
    }

    .lxt-message .lxt-message-body a {
        color: #555555;
        padding: 8px 12px;
        width: 100%;
        box-sizing: border-box;
        outline: currentcolor none medium;
        background: #fff none repeat scroll 0% 0%;
        line-height: inherit;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.3s ease-out 0s;
        border-top: 1px solid #efefef;
        overflow: hidden;
        vertical-align: middle;
        text-align: left;
        display: block;
        white-space: nowrap;
    }

        .lxt-message .lxt-message-body a:first-child {
            border-top: 0px none;
        }

        .lxt-message .lxt-message-body a .lxt-message-title {
            display: block;
            margin-bottom: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .lxt-message .lxt-message-body a .lxt-message-date {
            display: block;
            color: #888888;
            font-size: 13px;
        }


    .lxt-message .lxt-message-footer a {
        display: block;
        box-sizing: border-box;
        outline: currentcolor none medium;
        background: #fff none repeat scroll 0% 0%;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        text-decoration: none;
        transition: all 0.3s ease-out 0s;
        border: 1px solid transparent;
        vertical-align: middle;
        text-align: left;
        border-top: 1px solid #efefef;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0px 12px;
        height: 36px;
        line-height: 34px;
        color: #1E9FFF;
    }

        .lxt-message .lxt-message-body a:hover, .lxt-message .lxt-message-footer a:hover {
            background-color: #ebebeb;
        }


.lxt-file {
    display: none;
    width: 300px;
    position: absolute;
    right: 90px;
    top: 38px;
    z-index: 1000;
    color: #333333;
    border: 1px solid #e2e2e2;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

    .lxt-file .lxt-file-header {
        display: flex;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: justify;
        justify-content: space-between;
        padding: 0px 12px;
        background-color: #f5f5f5;
        line-height: 35px;
        color: #333333;
    }

    .lxt-file .lxt-file-body a {
        color: #555555;
        padding: 8px 12px;
        width: 100%;
        box-sizing: border-box;
        outline: currentcolor none medium;
        background: #fff none repeat scroll 0% 0%;
        line-height: inherit;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.3s ease-out 0s;
        border-top: 1px solid #efefef;
        overflow: hidden;
        vertical-align: middle;
        text-align: left;
        display: block;
        white-space: nowrap;
    }

        .lxt-file .lxt-file-body a:first-child {
            border-top: 0px none;
        }

        .lxt-file .lxt-file-body a .lxt-file-title {
            display: block;
            margin-bottom: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .lxt-file .lxt-file-body a .lxt-file-date {
            display: block;
            color: #888888;
            font-size: 13px;
        }


    .lxt-file .lxt-file-footer a {
        display: block;
        box-sizing: border-box;
        outline: currentcolor none medium;
        background: #fff none repeat scroll 0% 0%;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        text-decoration: none;
        transition: all 0.3s ease-out 0s;
        border: 1px solid transparent;
        vertical-align: middle;
        text-align: left;
        border-top: 1px solid #efefef;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0px 12px;
        height: 36px;
        line-height: 34px;
        color: #1E9FFF;
    }

        .lxt-file .lxt-file-body a:hover, .lxt-file .lxt-file-footer a:hover {
            background-color: #ebebeb;
        }


.lxt-help {
    display: none;
    width: 300px;
    position: absolute;
    right: 260px;
    top: 38px;
    z-index: 1000;
    color: #333333;
    border: 1px solid #e2e2e2;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

    .lxt-help .lxt-help-header {
        display: flex;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: justify;
        justify-content: space-between;
        padding: 0px 12px;
        background-color: #f5f5f5;
        line-height: 35px;
        color: #333333;
    }

    .lxt-help .lxt-help-body a {
        color: #555555;
        padding: 8px 12px;
        width: 100%;
        box-sizing: border-box;
        outline: currentcolor none medium;
        background: #fff none repeat scroll 0% 0%;
        line-height: inherit;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.3s ease-out 0s;
        border-top: 1px solid #efefef;
        overflow: hidden;
        vertical-align: middle;
        text-align: left;
        display: block;
        white-space: nowrap;
    }

        .lxt-help .lxt-help-body a:first-child {
            border-top: 0px none;
        }

        .lxt-help .lxt-help-body a .lxt-help-title {
            display: block;
            margin-bottom: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .lxt-help .lxt-help-body a .lxt-help-date {
            display: block;
            color: #888888;
            font-size: 13px;
        }


    .lxt-help .lxt-help-footer a {
        display: block;
        box-sizing: border-box;
        outline: currentcolor none medium;
        background: #fff none repeat scroll 0% 0%;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        text-decoration: none;
        transition: all 0.3s ease-out 0s;
        border: 1px solid transparent;
        vertical-align: middle;
        text-align: left;
        border-top: 1px solid #efefef;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0px 12px;
        height: 36px;
        line-height: 34px;
        color: #1E9FFF;
    }

        .lxt-help .lxt-help-body a:hover, .lxt-help .lxt-help-footer a:hover {
            background-color: #ebebeb;
        }