@charset "utf-8";
/* CSS Document */
/*文字颜色 col_*/
.col_000 {color:#000;}
.col_999 {color:#999;}
.col_666 {color:#666;}
.col_ed1 {color:#ed155b;}
.col_6c6 {color:#6c6c6c;}
.col_fff {color:#fff;}
.col_FF8 {color:#FF8920;}
.col_7BB {color:#7BB6D8;}


/*背景颜色 bac_*/
.bac_red{background:#FF0000;}/*红*/
.bac_orange{background:#FF7F00;}/*橙*/
.bac_yellow{background:#FFFF00;}/*黄*/
.bac_green{background:#00ff00;}/*绿*/
.bac_blue{background:#0000ff;}/*蓝*/
.bac_purple{background:#7F00FF;}/*紫*/
.bac_black{background:#000000;}/*黑*/
.bac_white{background:#ffffff;}/*白*/
.bac_grey{background:#666666;}/*灰*/
.bac_ffe{background:#ffe2c6;}
.bac_top{background:#e50150;}
.bac_sous{background:#ed145b}
.bac_ff6{background:#ff6f0f;}
.bac_0ab{background:#0abede;}
.bac_eee{background:#eee7e1;}
.bac_f7f{background:#F7F7F7;}

/*宽为1110*/
.san_w_1110 {
    width: 1110px;
    margin: 0 auto;
    padding-bottom: 20px;
    height: auto;
    overflow: auto;
}
.san_w_960{
    width: 960px;
    margin: 0 auto;
}
.san_w_1090{
    width: 1090px;
    margin: 0 auto;
}
.san_w_1000{
    width: 1090px;
    margin: 0 auto;
}
.pt10{padding-top: 10px;}
.pt20{padding-top: 20px;}